footer.footer {
  background-color: #5c421e;
  color: white;
  padding: 8rem 0;
}

footer.footer a {
  color: white;
}

.footer1_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}

.footer1_logo img {
  width: 45px;
  height: 45px;
}
.footer1_logo p {
  font-size: 29px;
  font-weight: 600;
}

.footer_content.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  /* gap: 30px; */
}

.footer1 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-right: 1px solid white;
  padding-right: 78px;
  width: 50%;
}

.footer1 > p {
  /* width: 550px; */
  font-size: 20px;
}

.footer1_social_logos {
  font-size: 28px;
  display: flex;
  gap: 30px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 20px;
  font-weight: 200;
  margin-top: 20px;
}

.footer_header {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid white;
  max-width: 382px;
  /* width: 235px; */
}

@media (max-width: 1115px) {
  .footer_content.container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
    
  }
}
@media (max-width: 685px) {
  .footer_content.container {
    flex-direction: column;
align-items: center;
    justify-content: center;
    gap: 100px;
    
  }
  .footer1{
    border-right: none;
    width: 100%;
    padding-right: 0px;
  }
  .footer2{
    width: 100%;
  }
  .footer3{
    width: 100%;
  }
}

/* NEWSW SLIDR */
.hmove { display: flex; }
.hitem { width: 100%; flex-shrink: 0; }
.hwrap { overflow: hidden; }

/* (A2) MOVE ITEMS FROM RIGHT TO LEFT */
/* first item = 0, fourth item = -300% */
@keyframes tickerh {
  0% { transform: translatex(100%); }
  100% { transform: translatex(-400%); }
}
.hmove { animation: tickerh linear 50s infinite; }
.hmove:hover { animation-play-state: paused; }

/* (A3) COSMETICS - NOT IMPORTANT */
.hwrap {
  /* font-family: "Courier New", Courier, monospace; */
  /* color: #0eff66; */
  /* background: #000; */
  /* max-width: 600px; */ /* highly recommended */
  width: 100%;
  border-top: 1px solid black;
}
.hitem { 
  padding: 10px;
  text-align: center;
}
.hwrap, .hwrap * { box-sizing: border-box; }

/* (B1) UNIFORM ROW HEIGHT */
/* make sure enough height space */
.vwrap, .vitem { height: 80px; }
.vwrap { overflow: hidden; }

/* (B2) CENTER TEXT */
.vitem {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* (B3) MOVE ITEMS FROM TOP TO BOTTOM */
/* bottom 0 = first item, bottom 300% = fourth item */
.vmove { position: relative; bottom: 0; }
@keyframes tickerv {
  0% { bottom: -100%; }
  100% { bottom: 400%; }
}
.vmove { animation: tickerv linear 12s infinite; }
.vmove:hover { animation-play-state: paused; }

/* (B4) COSMETICS - NOT IMPORTANT */
.vwrap {
  font-family: "Courier New", Courier, monospace;
  color: #0eff66;
  background: #000;
  max-width: 600px;
  margin-top: 50px;
}
.vitem { padding: 10px; }
.vwrap, .vwrap * { box-sizing: border-box; }