@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --slider-height: 80vh;
}

* {
  font-family: "DM Sans", sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
/* design scroll bar */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* background-image: url(https://i.imgur.com/8sjwZjH.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 45px;
}

.button1 {
  padding: 15px 21px;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 600;
  background-color: #b28d57;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}
.button2 {
  padding: 15px 21px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #373635;
  border: 1px solid #373635;
  transition: all 0.3s ease;
}
.button3 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 7px;
    border-bottom: 2px solid #d8d8d8;
}



.title_span span {
  display: block;
  width: 10px;
  height: 2px;
  background-color: black;
}

.title_span p {
  /* font-size: 15px; */
  font-weight: bold;
  color: #B28D57;
}

.title_span {
  display: flex;
  align-items: center;
  gap: 12px;
}



/* loader */
.loader {
    position: absolute;
    z-index: 99999999999999999999999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 300px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
/* loader */

body::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, #5C421E  0%, #EBCA83 100%);
}
body::-webkit-scrollbar-thumb {
  background: transparent; /* opacity: 0; should do the thing either */
  box-shadow: 0px 0px 0px 100000vh rgb(215, 215, 215);
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}
