
.newsletter_form input {
  
    border: 1px solid;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    font-size:20px;
    font-weight:300
}
.newsletter_form input::placeholder {
     
    font-size:20px;
}
.newsletter_form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

section.newsletter .container {
    text-align: center;
}

p.newsletter_title {
    font-size: 20px;
    font-weight: bold;
    color: #b28d5c;
}

p.newsletter_subtitle {
    font-size: 40px;
    font-weight: bold;
    width: 550px;
    margin: auto;
    margin-bottom: 7rem;
}

section.newsletter {
    margin: 10rem 0;
}

@media screen and (max-width: 593px) {
     p.newsletter_subtitle{
        width: 100%;
    }
}
@media screen and (max-width: 721px) {
    .newsletter_form{
        flex-direction: column;
        align-items: center;
    }
    .newsletter_form input{
        width: 100%;
    }
}