
section.services {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    padding: 75px 0px;
    background: #f3f3f3;
}

.services_container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 101px 0px 158px 0px;
}

.services_container_item {
    width: 30%;
    /* padding: 3px 0px; */
    /* height: 567px; */
    display: flex;
    border-top: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding-top: 79px; */
}
.services_container_item img{
    width: 132px;
    height: 99px;
    margin-bottom: 17px;
    object-fit: contain;
    margin-top: 52px;
}
p.title {
    text-align: center;
    font-size: 20px;
    color: #a88557;
    font-weight: bold;
}

p.subtitle {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

p.services_container_item_title {
    font-size: 28px;
    font-weight: bold;
    margin: 31px 0px;
}

p.services_container_item_content {
    font-size: 18px;
    min-height: 187px;
}

.services.container> button {
    margin-top: 80px;
    display: flex;
    margin: auto;
}
.services .container >  button {
    margin: auto;
    display: block;
}

.services .container >  button {
    margin: auto;
    display: block;
}


@media screen and (max-width: 879px) {
    
    .services_container{
       flex-direction: column;
    }
    .services_container_item{
        width: 100%;
    }
}