section.about_us_main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 11rem;
}
section.about_us_main{
    background-color: #E7ECF1;

}
div.about_main_description{
    /* width: 50%; */
}
div.about_main_photo{
    width: 100%;
}

div.about_main_photo video{
    width: 100%;
    object-fit: cover;
}
.about_main_content{
    margin: 8rem 0;
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_main_content h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.about_main_content .about_main_description > p{
    margin-bottom: 20px;
    font-size: 20px;
}

div.follow_social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.follow_social p{
    font-weight: bold;
    font-size: 22px;
}

div.about_author .container{
    display: flex;
    align-items: center;
    padding: 8rem 0;
}
div.about_author .container> div{
    width: 50%;
}

.about_author_titles{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_author_content p{
    font-size: 20px;
    font-weight: 400;
    color: #5d5d5d;
    margin-bottom: 20px;
}

div.about_author_titles_image {
    width: 444px;
    height: 509px;
}
div.about_author_titles_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1125px) {
    section.about_us_main .container{
        flex-direction: column;
        position: relative;
    }
    div.about_main_photo{
        width: 70%;
        position: absolute;
        bottom: -50%;
    }
    
}section.about_us_main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 11rem;
}
section.about_us_main{
    background-color: #E7ECF1;

}
div.about_main_description{
    /* width: 50%; */
}
div.about_main_photo{
    width: 100%;
}

div.about_main_photo video{
    width: 100%;
    object-fit: cover;
}
.about_main_content{
    margin: 8rem 0;
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_main_content h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.about_main_content .about_main_description > p{
    margin-bottom: 20px;
    font-size: 20px;
}

div.follow_social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.follow_social p{
    font-weight: bold;
    font-size: 22px;
}

div.about_author .container{
    display: flex;
    align-items: center;
    padding: 8rem 1rem;
}
div.about_author .container> div{
    width: 50%;
}

.about_author_titles{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_author_content p{
    font-size: 20px;
    font-weight: 400;
    color: #5d5d5d;
    margin-bottom: 20px;
}

div.about_author_titles_image {
    width: 444px;
    height: 509px;
}
div.about_author_titles_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1125px) {
    section.about_us_main .container{
        flex-direction: column;
        position: relative;
        padding-bottom: 8rem;
        margin-bottom: 15rem;
    }
    div.about_main_photo{
        width: 70%;
        position: absolute;
        bottom: -11rem;
    }
    
}
@media screen and (max-width: 691px) {
    .about_main_content{
        padding: 4rem 0;
    }
    section.about_us_main .container{
   
        padding: 4rem 0;
       
    }
    div.about_main_photo{
        width: 90%;
        position: absolute;
        bottom: -11rem;
    }
    
}


@media screen and (max-width: 1155px) {
    div.about_author .container{
        display: flex;
        flex-direction: column;
    padding: 0;
   
    }
    div.about_author .container> div{
        margin: 2rem 0;
    }
    div.about_author .container> div{
        width: 100%;
        padding: 0 1rem;
    }
    div.about_author_titles{
        align-items: center;

    }
    div.about_author_titles_image{
        width: 100%;
    }
}

@media screen and (max-width: 393px) {
    
    .about_main_content .follow_social{
        flex-direction: column;
    }
}